.text-lightblue{
  color: #d5f4ff;
}
.nav-link:hover{
  transform: scale(1.2);
  color: #d7f5ff;
}
#navbar{
  background-color: #21252b;  
}
.skill{
    min-width: 75px;
    text-align: center;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .hide {
    transform: translateY(-100%);
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .bg-main{
    /* background-color: #002451; */
    background-color: #303030;
  }
  .bg-sub{
    background-color: #00469d;
    color: whitesmoke;
  }
  .bg-aboutme{
    background-color: #0068e9;
    color: whitesmoke;
  }
  .heading{
    background-color: #e09e2d;
  }
  .image-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .image-wrapper img {
    width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .image-wrapper:hover img {
    transform: scale(1.1);
    width: 100%;
    filter: brightness(20%);
  }
  
  .image-wrapper:hover .overlay-text {
    opacity: 1;
  }
  